[Unit]
Description=Fireplace flask app
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=app.py

[Install]
WantedBy=multi-user.target