<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="d-flex justify-content-center align-items-center">
<form action = "http://130.240.200.57:5001/success" method = "POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="latitude">Latitude</label>
    <input type="number" class="form-control" id="latitude" placeholder="latitude" step="0.000001">
  </div>
  <div class="form-group">
    <label for="longitude">Longitude</label>
    <input type="number" class="form-control" id="longitude" placeholder="longitude" step="0.000001">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></div>
</body>
</html>