<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Fireplace</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="text-center p-3 mb-2 bg-dark text-white">
<div class="d-flex justify-content-center align-items-center">
<form action = "http://130.240.200.57:5001/success" method = "POST">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Latitude</label>
    <input type="number" class="form-control" name="latitude" step="0.000001">
  </div>
  <div class="form-group">
    <label>Longitude</label>
    <input type="number" class="form-control" name="longitude" step="0.000001">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></div>
</body>
</html>