<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="text-center p-3 mb-2 bg-dark text-black">
<ul class="list-group">
    <li class="list-group-item">Name: {{ name }}</li>
    <li class="list-group-item">Latitude: {{ latitude }}</li>
    <li class="list-group-item">Longitude: {{ longitude }}</li>
    <li class="list-group-item">Wood available: {{ wood }}</li>
    <li class="list-group-item">Temperature: {{ temp }} °C</li>
    <li class="list-group-item">Wind: {{ wind }} </li>
    <li class="list-group-item">Condition: {{ cond }}</li>
    <li class="list-group-item">Available: {{ sim }} %</li>
</ul>

<title>Upload new File</title>
<h1 class="text-white">Upload Image</h1>
<form  action="http://130.240.200.57:5001/uploader" method="POST" enctype="multipart/form-data">
  <input class="btn btn-lg text-white" type=file name=file>
  <input class="btn btn-lg btn-success" type=submit value=Upload>
</form>


</body>
</html>
